@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
   font-family: "Poppins", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body{
   background-color: #fafafa;
}

body.dark{
   background: #202124;
}

body.dark .header{
   background-color: #202124;
}

body.dark .shop{
   background-color: #202124;
}
body.dark .card{
   background-color: #202124;
}
body.dark .shop-title{
   color: #eee;
}
body.dark .main-list li a{
   color: #eee;
}
body.dark .LOGO {
   color: #eee;
}
body.dark .hand-bags{
   background-color: #343434;
}
body.dark .s{
   background-color: #202124;
}

body.dark .cards-contact{
   background-color: #343434;
}
body.dark .price{
   color: #eee;
}
body.dark .cards-contact .content .info h3{
   color: #eee;
}

.light-to-dark{
   position: relative;
   right: -768px;
}
.checkbox{
   opacity: 0;
   position: absolute;
}

.checkbox:checked + .label .ball{
   transform: translateX(25px);
}
.label{ 
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
}

.fa-moon{
   color: #f1c40f;
}

.fa-sun{
   color: #f29c12;
}

.ball{
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.LOGO {
   color: #004f9a;
   text-decoration: none;
   font-size: 30px;
   font-weight: 800;
   letter-spacing: 3px;
   font-family: "Shadows Into Light", cursive;
   padding: 6px 7px 6px 8px;
   border-top: 5px orange solid;
   border-radius: 50%
}

::-webkit-scrollbar{
   width: 10px;
}
::-webkit-scrollbar-track{
   background-color: #fefefe;
   border-radius: 3px;
}
::-webkit-scrollbar-thumb{
   background-color: #004f9a;
   border-radius: 10px;
   height: 30px;
}
::-webkit-scrollbar-thumb:hover{
   background-color: #013463;
}

/* .header {
   background-color: #eee;
   display: flex;
   justify-content: space-between;
   padding: 4px 100px;
   position: fixed;
   z-index: 999;
   width: 100%;
} */


a {
   display: inline-block;

}

ul {
   list-style: none;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #eee;
   padding: 4px 109px;
   position: fixed;
   z-index: 999;
   width: 100%;
   /* position: relative; */
}

.header-title {
   text-decoration: none;
   font-size: 30px;
   font-weight: 800;
   color: #004f9a;
   cursor: pointer;
   transition: 0.7s;
   opacity: 0.8;
   letter-spacing: 2px;
}

.header-title:hover {
   transform: scale(1.03);
   color: #004f9a;
   opacity: 1;
   letter-spacing: 4px;
}

.header-ilements .main-list {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

.header-ilements .main-list .lol {
   position: relative;
}

.s{

   position:absolute;
   top:30px;
   left:0;
   width:220px;
   padding:20px;
   background:#eee;
   display:flex;
   opacity:0;
   pointer-events:none;
   flex-direction:column;
   border-radius:10px;
   transition:all ease .3s;
 }
 .s a{
   display:inline-block;
   padding-left:15px !important;
   padding-top:10px;
   font-size:18px !important;
   
 }
 .lol:hover .s{
  
   opacity:1;
   pointer-events:auto;
 }
.header-ilements ul li a {
   text-decoration: none;
   padding-left: 65px;
   font-size: 20px;
   font-weight: 600;
   transition: 0.3s;
   color: #004f9a;
   opacity: 0.8;
}

.header-ilements ul li {
   transition: 0.3s;
   color: #004f9a;
}

.header-ilements ul li:hover {

   color: #004f9a;
   opacity: 1;
}

.header-ilements ul li a:hover {
   color: #333;
}


.home {
   background: url("https://www.supermama.me/system/App/Entities/Article/images/000/100/095/watermarked/%D8%A3%D8%AD%D8%AF%D8%AB-%D9%85%D9%88%D8%B6%D8%A9-%D9%85%D9%84%D8%A7%D8%A8%D8%B3-%D8%B4%D8%AA%D8%A7%D8%A1.jpg") no-repeat;
   width: 100%;
   min-height: 100vh;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   background-position-y: 40px;
   /*عملت هنا بوزيشن*/
   position: relative;
}

/*ده سودو ود بدل اني اعمل ديف*/
.home:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* background-color: rgba(14, 20, 32);
   opacity: 0.8; */


   background-image: linear-gradient(to right,
         rgba(14, 20, 32) 5%,
         rgba(12, 17, 27, 0.4) 100%);
}

.home-content {
   margin-bottom: 166px;
   margin-left: 100px;
   position: relative;
   z-index: 3;
}

.welcome {
   color: white;
   font-size: 30px;
   font-weight: 600;
   padding: 15px;
}

.home span {
   display: block;
   margin-left: 121px;
   margin-top: 22px;
   font-size: 60px;
   font-weight: bold;
   color: #3a6cf4cb;
   cursor: pointer;
   transition: 0.7s;
}

.home span:hover {
   color: #76448adc;
}

.home a {
   display: inline-block;
   text-decoration: none;
   font-size: 20px;
   color: white;
   background-color: #76448ab7;
   border-radius: 15px;
   padding: 15px 20px;
   margin-top: 100px;
   margin-left: 100px;
   transition: 0.6s;
}

.home a:hover {
   transform: scale(1.1);
   background-color: #76448ab7;
}


.video{
   height: 763px;
   width: 100%;
}
.shop {
   background-color: white;
}

.shop-title {
   text-align: center;
   padding-top: 70px;
   padding-bottom: 40px;
   font-size: 70px;
   letter-spacing: 4px;
   color: #3a6cf4cb;
}

.shop-cards {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.card-background img {
   width: 100%;
}

.card1{
   padding-top: 100px;
}
.card4{
   padding-top: 70px;
}
.card6{
   padding-top: 65px;
}

.card {
height: 480px;  
   overflow: hidden;
   border: black 0.8px solid;
   border-radius: 15px;
   align-items: center;
   flex-direction: column;
   transition: 0.3s;
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   width: 21.25em;
   box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
   padding: 25px;
   margin: 40px;
   transition: 0.7s ease;
}

.card img{
   transition: 0.5s;
}
.card:hover img{
   transform: scale(1.1);
   opacity: 85%;
   border-color: blueviolet;
}

.card h3 {
   text-align: center;
   color: #3a6cf4cb;
   font-weight: 600;
   font-size: 25px;
}

.card span {
   padding-top: 20px;
   font-weight: 700;
   color: black;
}

.cards .content{
   display: flex;
   flex-direction: row;
   justify-content: center; 
   flex-wrap: nowrap;
}

.buy.bcard1{
margin-top: 35px;
}
.price.pricec1{
   position: relative;
   top: 35px;
}


.buy{
   padding: 10px;
   margin-top: -3px;
   font-size: 25px;
   font-weight: 600;
   cursor: pointer;
   transition: 0.2s;
   border: none;
   color: #f5f5f5;
   background: #0075ff; 
   border-radius: 10px;
}
.buy:hover{
   color: #2488da;
   background-color: #004f9a;
}

.icon a {
   color: #004f9a;
   font-size: 8em;
   text-align: center;
}

.card .info h3{
   color: #3a6cf4;
   font-size: 1.2em;
   font-weight: 700;
   margin-bottom: 10px;
}


.info{
   text-align: center;
}

.cards-contact{
   height: 900px;
   width: 100%;
   background-color: #f3f2f2;
}

.cards-contact .content{
   margin-top: 110px;
}

.cards-contact .content .info h3{
   color: black;
}
.content .info p{
   font-size: 1.4em;
}

.content{
   margin-top: 10px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}

.hand-bags{
   background-color: #3a6cf4;
}

.product-image{
   width: 100%;
}
.price{
   text-align: center;
   font-size: 35px;
   font-weight: 700;
   margin-bottom: 10px;
}

.shop-title.tt{
   color: #fefefe ;
}
.hand-bags .card:hover{
   box-shadow: 2px 5px 13px #eee;
}

.card.contactc{
   height: 270px;
}



.footer{
   background-color: #000016;
   color: #fff;
   padding: 1.2em;
   display: flex;
   justify-content: space-between;
}
.social-icons a{
   color: #fff;
   text-decoration: none;
   font-size: 1.7em;
   padding-left: 30px;
}

.footer-title{
   font-size: 1.3em;
   font-weight: 600;
}

.footer-title span{
   color: #3a6cf4;
}


